@font-face {
    font-family: 'MyFont';
    src: url('./resources/fonts/my-font.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

:root {
    --font-family: 'MyFont', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --heading-color: purple;
    --titles-color: blueviolet;
    --backgound-color: none;
    --list-background-color: rgb(255, 158, 174);
    --hover-color: red;
    --hover-background-color: paleturquoise;
    --expanded-background-color: rgb(175, 238, 196);
    --details-color: rgb(200, 51, 226);
    --details-background-color: rgb(206, 244, 218);
    --icon-filter-color: invert(8%) sepia(78%) saturate(6457%) hue-rotate(296deg) brightness(99%) contrast(106%);
    --icon-hover-filter-color: invert(13%) sepia(96%) saturate(5204%) hue-rotate(358deg) brightness(110%) contrast(119%);
    --button-background-color: rgb(251, 109, 133);
    --warning-color: rgb(0, 123, 255);
    --tooltip-color: rgb(0, 123, 255);
    --tooltip-background-color: rgb(237, 250, 138);
}

body {
    background-color: var(--backgound-color);
    padding: 10px 100px;
    font-family: var(--font-family);
    color: var(--heading-color);
    margin: 0;
}

h1 {
    font-size: 50px;
    width: 1100px;
}

h2 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

h3 {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
}

#content {
    display: flex;
    flex-direction: row;
    margin: 0;
}

#todo-list,
#project-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#todo-list>li,
#project-list>li {
    list-style-type: none;
}

a {
    padding: 0;
}

#project {
    width: 30%;
    min-width: 250px;
}

#todo {
    width: 70%;
    min-width: 700px;
}

.project-nav {
    color: var(--titles-color);
    font-size: 16px;
    font-family: var(--font-family);
    background-color: var(--list-background-color);
    border: 0;
    display: block;
    width: 80%;
    text-align: center;
}

.project-nav:hover {
    color: var(--hover-color);
    background-color: var(--hover-background-color);
}

label {
    color: var(--titles-color);
    align-self: self-start;
}

input {
    border: 2px solid var(--titles-color);
    text-align: left;
    align-self: self-start;
    width: 120px;
}

.task-nav {
    color: var(--titles-color);
    font-size: 16px;
    font-family: var(--font-family);
    background-color: var(--list-background-color);
    border: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.task-nav:hover {
    color: var(--hover-color);
    background-color: var(--hover-background-color);
}

.task-nav-expanded {
    color: var(--titles-color);
    background-color: var(--expanded-background-color);
}

.project-selected {
    color: var(--titles-color);
    background-color: var(--expanded-background-color);
}

.task-details {
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--details-background-color);
    margin-top: 5px;
    width: 80%;
}

.task-details p {
    color: var(--details-color);
    margin: 5px;
    font-size: 16px;
}

.task-details ol {
    color: var(--details-color);
    font-size: 16px;
    margin: 5px;
    padding: 0;
    padding-left: 20px;
}

.icon {
    filter: var(--icon-filter-color);
    width: 30px;
}

.icon:hover {
    filter: var(--icon-hover-filter-color);
}

.title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.project-new form {
    text-align: left;
    padding: 0 10px;
    box-sizing: border-box;
}

#new-project-title {
    width: 60%;
}

#new-project-description, #new-task-description {
    width: 90%;
    height: 3lh;
    resize: vertical;
    display: box;
    border: 2px solid var(--titles-color);
    ;
}

.project-new .project-nav:hover {
    background-color: var(--list-background-color);
    color: var(--titles-color);
}

.new-project-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5px;
}

.new-task-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5px;
    grid-column: 1 / -1;
}

.new-buttons button {
    border: 0;
    background-color: var(--button-background-color);
    color: var(--titles-color);
    font-size: 16px;
    font-family: var(--font-family);
    border-radius: 8px;
}

.new-buttons button:hover {
    color: var(--hover-color);
    background-color: var(--hover-background-color);
}

.warning {
    font-size: 10px !important;
    margin-bottom: 5px;
    margin-top: 0;
    color: var(--warning-color) !important;
}

.task-details .warning {
    grid-column: 1/-1 !important;
} 

.heading-new {
    margin: 0;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: var(--tooltip-background-color);
    color: var(--tooltip-color);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 10px;

    position: absolute;
    z-index: 1;
    left: 100%;
    top: 100%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.task-nav > div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.task-nav .icon {
    width: 20px;
    padding-top: 3px;
}

.task-nav p {
    margin: 0;
}